#<species>  <primers_file_path>
#aye-aye	/galaxy/local_data/genome_diversity/primers/aye-aye_Galaxy_primers.txt
#bear	/galaxy/local_data/genome_diversity/primers/bear_Galaxy_primers.txt
#bighorn	/galaxy/local_data/genome_diversity/primers/bighorn_Galaxy_primers.txt
#tasmanian_devil	/galaxy/local_data/genome_diversity/primers/devil_Galaxy_primers.txt
#tick	/galaxy/local_data/genome_diversity/primers/tick_Galaxy_primers.txt
